aniso8601
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Login
Flask-RESTful
Flask-Uploads
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pytz
requests
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
WTForms