.reg_form{
    display: block;
}
.div1  {
    text-align: center;
    padding: 30px;
}
#text{
    font-size: 40px;
    text-decoration: underline;
}
.div_btn {
    text-align: center;
    padding: 25px;
}
.submit-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
}

.input_field_short{
    display: block;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;

}

.input_field_long{
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
}
.textarea_long{
    display: flex;
    height: 175px;
    width: 100%;
    padding: 0;
    resize: none;
}
.textarea_long_code{
    border-color: #fddab7;
    border-width: 5px;
    display: flex;
    height: 175px;
    width: 100%;
    padding: 0;
    resize: none;
}
