<!DOCTYPE html>
<html lang="en, rus">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<header>
    <div id="title"><img src="/static/images/logo.gif" alt="Logo" style="width:330px;height:85px;"></div>
    <div class="buttons">
        {% if current_user.is_authenticated %}
        <div class="div2"><a class="btn_add_task" href="/add_task" >Создать задание</a></div>

        <span class="navbar-text">Добро пожаловать, {{ current_user.username }}!</span>
        {% else %}
        <a href="/login" class="button">ВХОД</a>
        <a href="/registration" class="button">РЕГИСТРАЦИЯ</a>
        {% endif %}
    </div>
</header>
<div class="div_disc">
    <a href="#" class="discussion">Обсуждение задач</a>
</div>
<nav>
    <ul class="menu">
        <li><a href="/russian">Русский язык</a></li>
        <li><a href="/math">Математика</a></li>
        <li><a href="/physic">Физика</a></li>
        <li><a href="/informatics">Информатика</a></li>
    </ul>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>


</body>

</html>