{% extends "select_task.html" %}

{% block tasks %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/css/display_tasks.css">
<div class="container">

    {{ default_value }}
    {% for task in tasks %}
    <div class="task_block">
        <div class="div3"><h1 class="task_number">{{ task.number }}_{{ task.id }}</h1>
            {% if current_user.id == task.author_id or current_user.id == 1%}
            <a id="del_btn" href="{{ url_for('delete_task', task_id=task.id) }}" class="alert-danger">Удалить</a>
            {% endif %}
        </div>
        <div class="additional_information">
            <h5 class="description">*{{task.description}}</h5>
            <h6 class="task_information">Автор: {{task.author.username}}</h6>
            <h6 class="task_information">Дата {{task.date}}</h6>
        </div>
        <h3 class="condition">{{task.condition}}</h3>
        {% if task.photo_url %}
        <img src="{{task.photo_url}}" alt="answer_image" class="image">
        {% endif %}
        <div class="options">
            {% if current_user.is_authenticated %}
            <div class="btns">
                <button class="btn" data-toggle="collapse" data-target="#comments{{task.id}}">ПОКАЗАТЬ ОБСУЖДЕНИЕ</button>
                {% if task.answer_photo_url %}
                <button class="btn" data-toggle="collapse" data-target="#demo{{task.id}}">ПОКАЗАТЬ ОТВЕТ</button>
                {% else %}
                <button class="answer" text="ПОКАЗАТЬ ОТВЕТ" hover-text="{{task.answer}}"></button>
                {% endif %}
            </div>
            <div id="comments{{task.id}}" class="collapse">
                <form method="POST" class="comment_form">
                    {{ comment_form.csrf_token }}
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <div class="input_field_long">
                        {{ comment_form.text.label(class="control-label") }}
                        {{ comment_form.text(class="textarea_long") }}
                    </div>
                    <div class="div_btn">
                        {{ comment_form.submit(class="submit-btn") }}
                    </div>
                </form>
                {% for comment in task.comments %}
                <span>Написал: {{comment.author.username}} Когда:{{comment.date}}</span>
                <pre>{{comment.text}}</pre>
                {% endfor %}
            {% endif %}
            </div>
            {% if task.answer_photo_url %}
            <div id="demo{{task.id}}" class="collapse">
                <h3 class="answer_text">{{task.answer}}</h3>
                <img src="{{task.answer_photo_url}}" alt="answer_image" class="image">
            </div>
            {% endif %}
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}